body{
    background-color: #FF7F50;
    text-align: center;
}

h1{
    font-size: 30px;
    color: azure;
}

p{
    color: azure;
    font-size: 25px;
}
#imagem1{
    width: 100%;
    border: 2px solid black;
    height: 20%;
}
.itens{
    font-style: italic;
    font-size: 10%;
}

.beneficios{
    background-color: chocolate;
    text-align: left;
    font-size:20%;
}